<div class="container row">
    <div class="form-cont col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10">
        <div class="login-cont">
            <div class="btn-group btn-group-justified form-head">
                <div class="btn btn-default active" id="individual">Физ. лицо</div>
                <div class="btn btn-default" id="entity">Юр. лицо</div>
            </div>
            <form class="form-cont individual form-horizontal" #form="ngForm">
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="login">Логин</label>
                    <div class="col-sm-8">
                        <input type="text" name="iin" [(ngModel)]="iin" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="password">Пароль</label>
                    <div class="col-sm-8">
                        <input type="password" name="password" [(ngModel)]="password" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-8 control-label">
                        <input type="checkbox"> Запомнить меня
                    </label>
                    <div class="col-sm-4">
                        <button class="btn btn-primary btn-block" [disabled]="form.form.invalid && !btnActive" (click)="auth()">Войти</button>
                    </div>
                </div>
            </form>
            <div class="form-cont entity fade">

            </div>
        </div>
    </div>
</div>